.plot {
    /*width: 100%;*/
    /*min-width: 700px;*/
}

.label {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.axes-label {
    text-anchor: middle;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

.line {
    fill: none;
    stroke-width: 2px;
    z-index: -100;
}

.auc {
    fill-opacity: 50%;
}

.scroll-line {
    stroke: red;
}

.mask {
    display: block;
    height: 30%;
    width: 30%;
    min-width: 300px;
    min-height: 300px;
}

.mask--fullsize {
    display: inline;
    transition: all .5s ease-out;
    width: 80vh;
    height: 80vh;
}

.visualization {
    min-width: 700px;
    margin: 5rem 10rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.back-button {
    background-color: #7f7f8c;
    width: 15%;
    height: 6%;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    min-width: 200px;
}